@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    :root {
        background: #0E1113;
    }

}

.rich-text-content {
    a {
        color: #3b82f6;
    }

    a:hover {
        text-decoration: underline;
    }

    ul {
        list-style-type: disc;
        margin-left: 1.5rem;
    }

    ol {
        list-style-type: decimal;
        margin-left: 1.5rem;
    }

    li {
        margin-bottom: 0.25rem;
    }
}