name: storybook build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 24.12.0

    - name: clean install
      run: npm ci

    - name: run build
      id: build
      run: npm run build-storybook

    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v47
      with:
        separator: "   "

    - name: Notify Telegram
      uses: james-kua/notify-telegram-action@main
      with:
        workflow_name: ${{ github.workflow }}
        to: ${{ secrets.TELEGRAM_TO }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        changed_files: ${{ steps.changed-files.outputs.all_changed_files }}
        message_format: markdown
        disable_preview: true
        timezone: 'Asia/Singapore'